/* Import Google Font */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');

/* Reset */

* {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

/* Body + div principal */

body {
    background-image: url( '/app/img/background.jpg' );
    background-position: center top;
    background-repeat:  no-repeat;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
}

.title{
    padding-top: 40px;
    padding-bottom: 70px;
    text-align:center;

}

#pricipal-div{
    height: 100vh;
    margin: auto;
    width: 965px;
}

#logo {
    padding-bottom: 13px;
    padding-left: 11px;
    padding-top: 23px;
}

.align {
    text-align: center;
}

/* Menu */
#menu-holder{
    background-color: #0056af;
    display: flex;
}

    #menu-holder a {
        display: block;
        white-space: nowrap;
    }

    #menu-holder li {
        position: relative;
        z-index: 1;
    }

    #menu-holder > ul > li {
        display: block;
    }

    #menu-holder > ul > li ul {
        display: none;
        position: absolute;
        z-index: 1;
    }

    #menu-holder > ul li:hover > ul {
        background-color: #b9d2f3;
        display:block;
        right: -20px;
        top: 100%;
    }

    #menu-holder > ul:last-child:hover{
        background-color: #b9d2f3;
    }
    
    #menu-holder  > ul > li > ul a {
        color: black;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin: 15px 12px;
    }

.menu-brand-choice:hover a {
    color: #0056af;
}
    
.menu-all-games,
.menu-brand-choice{
    border-right: 1px dashed white;
    color: white;
    padding: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: inherit;
  }

/* Articles */

.article-price{
    font-size: 30px;
    text-align:center;
}

.article-name{
    color: #0056af;
    font-size: 14px;
    font-weight: 700;
}

.article{
    flex-basis: 32%;
    flex-grow: 0;
    height: 328px;
    width: 243px;
}

#article-container{
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    margin: 40px;
}

/* Détails */
.details-name{
    font-size: 30px;
    font-weight: 700;
    text-align:center;
}

.details-price {
    font-size: 30px;
}

.details-color {
    color: #0056af;
}

.brand-color{
    color: #0056af;
}

.right-div{
    position: relative;
    left: 35%;
}

.details-img{
    position: absolute;
    text-align: center;
}

.div-prod {
    position: relative;
}

.details-desc{
    width: 65%;
}

/* Catégorie Options */


/* 
$html .= sprintf( '<div class="details-name title">%s</div>', $row[ 'name' ] );

$html .= sprintf( '<div class="details-img"><img src="app/img/%s" alt="">', $row[ 'image' ]);

$html .= sprintf( '
<div class="left-div">
<p class="details-price">%s €</p>
<p class="details-stock">Stock : 34</p></div></div>
', $row[ 'price' ] );

$html .= sprintf( '<div class="right-div"><p class="details-brand">Marque : %s</p>', $row[ 'name' ] );

$html .= sprintf( '%s</div>', $row[ 'description' ] );
*/